body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  padding-top: 20px;
  padding-bottom: 60px;
  background: #fff;
}
.card-title {
  text-align: center;
}
.card-text {
  text-align: center;
  color: #6c757d;
}
